{% extends 'layout/base.html' %}
{% load static %}

{% block 'title' %} Añadir Contacto {% endblock %}
{% block 'styles' %}

<link rel="stylesheet" href="{% static 'css/forms.css' %}">

{% endblock %}

{% block 'content' %}

<h3>Agregar contacto</h3>

<form action="{% url 'add_contact'%}" method="POST">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <div class="btn-wrapper">
        <input type="submit" value="Enviar" class="btn-send"/>
    </div>
</form>
{% endblock %}
