<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Obtener los 10 primeros con limit</h3>
    <ul>
        {% for li in limit %}
        <li> {{li.email}} </li>
        {% endfor %}
    </ul>
    <h3>Obteniendo un unico elemento:</h3>
    <ul>
        <p>{{ autor.email }}</p>
    </ul>
    <h3>Autor que es: johnsondaniel@example.org</h3>
    <ul>
        {% for filtro in filtrado %}
        <li> {{ filtro.name }} | {{ filtro.email }}</li>
        {% endfor %}
    </ul>
    <h3>Todos los autores</h3>
    <ul>
        {% for autor in autores %}
        <li>{{autor.name}} ({{autor.email}})</li>
        {% endfor %}
    </ul>
    <h3>Total de autores: {{autores | length}}</h3>
</body>
</html>